.splash {
  background-image:white;
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: white;
   }

body {
  background-color: white;
  color: white; }

.navbar {
  background-color: white;
  color: white;
  font-size: 16px;
  margin-bottom: 0px; }

.navbar-brand {
  font-size: 22px;
  color: white; }

.form-control {
  width: 40%; }
